/* RESET */
* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

:root {
  /* Colors */ 
  --blue-200: hsl(193, 38%, 86%);
  --green-300: hsl(150, 100%, 66%);
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);

  /* Font Weights */
  --fw-400: 400;
  --fw-800: 800;
}

@font-face {
  font-family: 'Manrope';
  src: url("assets/fonts/manrope-v20-latin-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url("assets/fonts/manrope-v20-latin-800.woff2");
  font-weight: 800;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-950);
  height: 100vh;
  width: 100vw;
}

.advice-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--blue-900);
}

.advice-number {
  font-size: 0.8rem;
  font-weight: var(--fw-800);
  letter-spacing: 0.2rem;
  color: var(--green-300);
  margin-block-end: 1.5rem;
  animation: fadeIn 1.5s 1s ease forwards;
}

.random-advice {
  text-align: center;
  font-size: 1.4rem;
  font-weight: var(--fw-800);
  color: var(--blue-200);
  animation: fadeIn 1.5s 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.divider {
  margin-block: 2rem;
}

.generator-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--green-300);
  bottom: -10%;
  transition: transform 0.2s;
}

.generator-btn:hover {
  transform: scale(1.2);
  box-shadow: 0rem 0rem 1.5rem 0.1rem var(--green-300);
  cursor: pointer;
}

.generator-btn:active {
  transform: scale(1);
}

@media (min-width: 768px) {
  .advice-component {
    width: clamp(20rem, 30vw, 50rem);
  }
}